html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'exo.ttf', sans-serif;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF9210;
    color: #fff;
    height: 75px;
}

.nav-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 0 20px;
}

#searchInput {
    padding: 8px;
    border-radius: 100px;
    border: 2px solid #000000;
    font-size: 14px;
}

#searchInput:focus {
    outline: none;
    border-color: #FF9210;
}

.nav-search {
    margin-right: 50px;
}

.nav-search input {
    height: 20px;
    width: 300px;
    padding-right: 100%;
}

.searchimg button{
    background-color: #FF9210;
    border: none;
    margin-left: -400%;
    cursor: pointer;
}

.searchimg button :hover{
    background-color: #ffaf4e;
    border-radius: 50%;
}

.nav-search button {
    background-color: #FF9210;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}

.nav-search button:hover {
    background-color: #FFA94D;
}

.logo-home {
    background-image: url(images/logo.png);
    background-size: contain;
    width: 45px;
    height: 45px;
    display: block;
    transition: ease-in 100ms;
}

.nav-avatar {
    margin-right: 40px;
}

.avatar {
    background-image: url(images/avatar.png);
    background-size: contain;
    width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}

.banner {
    background-image: url(images/banner.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-text {
    text-align: center;
}

.banner-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 18px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    margin: 20px;
    overflow: hidden;
    width: 250px;

}

.card a {
    text-decoration: none;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.card-description {
    font-size: 16px;
    color: #555;
}

footer {
    margin-top: auto;
    background-color: #FF9210;
    color: #fff;
    padding: 20px;
    text-align: center;
}
